body
{
	background-color:#fffaf5;
	font-family: 'Open Sans', 'Mada', Verdana, Geneva, sans-serif;
	text-align:center;
}

div.toppad
{
	padding-top: 33px;
	padding-bottom: 6px;
}

div.plane
{
	background-color:#ffd9b3;
	width:888px;
	margin:auto;
	overflow: hidden;
}

h2.welcome
{
	margin:16px 0 16px 0;
	padding:9px 0 9px 0;
}

p.intro
{
	padding:9px 0 9px 0;
}

div.footer
{
	background-color:#fff2e5;
	width:888px;
	text-align:center;
	float:right;
	color:#cccccc;
}
